#parallax-1 {
  background: url(https://cdn.pixabay.com/photo/2019/06/13/03/49/moon-4270632_960_720.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 10px solid #485fc7;
}

#parallax-1 hr {
  background: #485fc7;
}

#parallax-2 {
  background-color: lightslategray;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 10px solid #485fc7;
}

#parallax-2 hr {
  background: #485fc7;
}

#parallax-3 {
  background-color: paleturquoise;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 10px solid #485fc7;
}

#parallax-3 hr {
  background: #485fc7;
}